.logos{
  width: 377px;
  height: auto;
  margin: 0px 18px 0px 1px;
  display: inline-block;

}

.logo-img{
  width: 375px;
  height: 375px;
  border: 2px solid #760057;

}

.examples{
  width: 375px;
  height: 234px;
  border: 2px solid #760057;
}

#row1{
    padding: 35px;
}

#row2{
  padding: 35px;
}

#color-palette{
  width: 1198px;
  height: auto;
}

#row3{
  padding: 35px;
}

#row4{
  padding: 35px;
}

.row h3{
  color: #760057;
  font-size: 24px;
  border-bottom: 2px solid #ca9623;
  padding: 0px 0px 10px 10px;
  margin: 0px 0px 20px 0px;
}

.light{
    background-color: #fff;
}

.dark{
    background-color: #111;
    color: #ddd;
}

.dark h3{
    color: #916d1e;
    border-bottom: 2px solid #720e11;
}
.text-boxes{
    display: inline-block;
    width: 45%;
    height:auto;
    padding: 10px;
    margin: 2%;
}

.text-boxes p{
    padding: 0px 8px 8px 8px;
}

.row-spacer{
    min-height: 50px;
    position: relative;
}

.row-spacer-stuff{
    position: absolute;
    bottom: 0;

}

#sample-image{
    width: 400px;
    margin-left: 100px;
}
